body {
  margin: 0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333;
}
header {
  background: #63e3fa23;
  text-align: center;
  padding-top: 64px;
  background-image: url(../cosmos.img/EVE集合写真.JPG);
  background-size: cover;
  background-position: center;

  height: 300px;
}
header h1,
header p {
  color: whitesmoke;
  margin: 0;
  padding-bottom: 10px;
  background: rgba(51, 51, 51, 0.5);
}
header .info {
  border: solid 2px #f9f9f9;
}


header img {
  width: 600px;
  vertical-align: bottom;
}